<form style="width: 90%; margin: auto;" [formGroup]="company">
    <div class="form-group row">
      <label for="name" class="col-sm-1 col-form-label">Name</label>
      <div class="col-sm-5">
        <input type="text" readonly class="form-control" id="name" formControlName="name">
      </div>
    </div>
    <div class="form-group row">
      <label for="Phone" class="col-sm-1 col-form-label">Phone</label>
      <div class="col-sm-3">
        <input type="number" class="form-control" id="Phone" formControlName="phone">
      </div>
    </div>
    <div class="form-group row">
        <label for="email" class="col-sm-1 col-form-label">email</label>
        <div class="col-sm-5">
          <input type="email" class="form-control" id="email" formControlName="email">
        </div>
      </div>
      <div class="form-group row">
        <label for="Address1" class="col-sm-1 col-form-label">Address1</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="Address1" formControlName="address1">
        </div>
      </div>
      <div class="form-group row">
        <label for="addres2" class="col-sm-1 col-form-label">Addres2</label>
        <div class="col-sm-5">
            <textarea class="form-control" id="addres2" rows="3" formControlName="addres2"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="city" class="col-sm-1 col-form-label">City</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="city"formControlName="city">
        </div>
      </div>

      <div class="form-group row">
        <label for="state" class="col-sm-1 col-form-label">State</label>
        <div class="col-sm-3">
            <select id="state" class="form-control" formControlName="state">
                <option selected>Choose...</option>
                <option>...</option>
            </select>
        </div>
      </div>
     <!-- <div class="form-group row">
        <label for="zip" class="col-sm-1 col-form-label">ZipCode</label>
        <div class="col-sm-3">
          <input type="number" class="form-control" id="zip" formControlName="pin">
        </div>
      </div> -->
      <div class="form-group row">
        <label for="gst" class="col-sm-1 col-form-label">Gst No.</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="gst" formControlName="gstNo">
        </div>
      </div>
      <div class="form-group row">
        <label for="website" class="col-sm-1 col-form-label">Web Site</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="website" formControlName="website">
        </div>
      </div>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile">
        <label class="custom-file-label" for="customFile">Choose file</label>
      </div>
      <button class="btn btn-primary" type="submit">Submit form</button>
  </form>
