input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.form-group{
    padding-top: 10px;
    padding-bottom: 10px;
}
button, .custom-file{
    margin-top: 15px;
    margin-bottom: 15px;
}
button{
    margin-left: 500px;
}
