input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.formdata{
  margin-top: 20px;
  width:60%;
  margin-left: 10%;
}
.form-group{
    padding-top: 10px;
    padding-bottom: 10px;
}
button, .custom-file{
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    float: right;
    width: 40%;
}
.button_edit{
  float: right;
}
