<div class="product" [formGroup]="product">
    <div>
        <label class="label">Product ID:</label>
            <input class="input_pid form-control" type="number" value="{{p_id}}" formControlName="productID" readonly>
    </div>
    <div class="name">
        <label class="label">Name:</label>
        <input class="input_name form-control" type="text"  formControlName="name"  (keyup)="getPnameSugssion($event)"
        [class.is-invalid]="product.get('name')?.touched && product.get('name')?.invalid"
            id="userIdFirstWay" list="dynmicUserIds">
                <datalist id="dynmicUserIds">
                <option *ngFor="let item of p_nameList" [value]="item">{{item}}</option>
                </datalist>
    </div>
    <div class="container row">
        <span class="left">
            <label class="label">Category:</label>
            <select formControlName="category"
            [class.is-invalid]="product.get('category')?.touched && product.get('category')?.invalid"
            class="form-select form-select-sm" aria-label="Select Category" (change)="getSubcategory($event)">
                <option value="" disabled selected hidden>--Select Category--</option>
                <option *ngFor="let Super of ListGodown" [value]="Super.godown_name">{{Super.godown_name}}</option>
            </select>             
        </span>
        <span class="right">
            <label class="label">Sub Category:</label>
            <select formControlName="sub_Category"
            [class.is-invalid]="product.get('sub_Category')?.touched && product.get('sub_Category')?.invalid"
            class="form-select form-select-sm" aria-label="Select Sub-Category">
            <option value="" disabled selected hidden>--Select Sub Category--</option>
                <option *ngFor="let sub of ListSubCatgory" [value]="sub.category">{{sub.category}}</option>
            </select> 
        </span>
    </div>
    <div class="container row">
            <span class="left">
                <label class="label">Barcode:</label>
                    <input class="input_small form-control" value="{{p_id}}"  type="number" formControlName="barcode">
            </span>
            <span class="right">
                <label class="label">Unit:</label>
                <select class="input_small" formControlName="unit"
                    [class.is-invalid]="product.get('unit')?.touched && product.get('unit')?.invalid"
                    class="form-select form-select-sm" aria-label="Select Sub-Category">
                    <option value="" disabled selected hidden>---Select Unit---</option>
                    <option *ngFor="let u of unit_list" [value]="u">{{u}}</option>
                </select> 
            </span>
    </div>
    <div class="marker">Price Details</div>
    <div class="container row">
        <span class="left">
            <label class="label">HSN Code:</label>
                <input class="input_small form-control" type="number" formControlName="hsn_Code">
        </span>
        <span class="right">
            <label class="label">GST(%):</label>
            <select formControlName="gst" (change)=setCost()
            [class.is-invalid]="product.get('gst')?.touched && product.get('gst')?.invalid"
            class="form-select form-select-sm" aria-label="Select GST(%)" aria-placeholder="Select GST(%)">
                <option value="" disabled selected hidden>Select GST(%)</option>
                <option value="5">5</option>
                <option value="12">12</option>
                <option value="18">18</option>
                <option value="28">28</option>
                <option selected value=0 >NULL</option>
            </select>  &nbsp;
             <label class="">Cess:</label>
            <input style="width: 60px" class="form-control" type="number" formControlName="cess"> 
        </span>
    </div>
    <div class="container">
        <span class="left">
            <label class="label">Purchase Rate:</label>
            <input class="input_small form-control" type="number" formControlName="purchase_Rate" (keyup)=setCost()>
        </span>
        <span class="right">
            <label class="label">Cost:</label>
            <input class="cost form-control" readonly formControlName="cost"
            [class.is-invalid]="product.get('cost')?.touched && product.get('cost')?.invalid">
        </span>
    </div>

    <div class="container">
        <span class="left">
            <label class="label">Mrp:</label>
            <input class="input_small form-control" type="number" formControlName="mrp"
            [class.is-invalid]="product.get('mrp')?.touched && product.get('mrp')?.invalid">
        </span>
        <span class="right">
            <label class="label">Retail Rate:</label>
            <input class="input_small form-control" type="number" formControlName="retail_Rate"
            [class.is-invalid]="product.get('retail_Rate')?.touched && product.get('retail_Rate')?.invalid">
        </span>
    </div>

    <div class="container">
        <span class="left">
            <label class="label">Wholesale Rate:</label>
                <input class="input_small form-control" type="number" formControlName="whole_Rate"
                [class.is-invalid]="product.get('whole_Rate')?.touched && product.get('whole_Rate')?.invalid">
        </span>
    </div>

    <div class="marker">Stock Details</div>
    <div class="container">
        <span class="left">
            <label class="label">Current Stock:</label>
            <input class="input_small form-control" readonly type="number" formControlName="current_Stock"
            [class.is-invalid]="product.get('current_Stock')?.touched && product.get('current_Stock')?.invalid">
        </span>
        <span class="right">
            <label class="label">Opening Stock:</label>
                <input class="input_small form-control" type="number" formControlName="opening_Stock"
                [class.is-invalid]="product.get('opening_Stock')?.touched && product.get('opening_Stock')?.invalid">
        </span>

        </div>
        <div class="marker">Discription</div><br>
        <div class="container"><br>
            <label class="label">Product Discription:</label>
            <textarea class="form-control" placeholder="Add producct Details" formControlName="discription" rows="3"></textarea>
            <br>
        </div>
        <div class="imageUpload">
            <input class="upload" id="keyimg" type="file" (change)="SetImage($event)">
            <input class="upload" id="img1" type="file" (change)="SetImage($event)">
            <input class="upload" id="img2" type="file" (change)="SetImage($event)">
            <input class="upload" id="img3" type="file" (change)="SetImage($event)">
            <input class="upload" id="img4" type="file" (change)="SetImage($event)">
        </div>

        <div class="btn_save"><br>
            <button id="btn" class="btn btn-warning" type="reset" >Reset</button>&nbsp; &nbsp;
            <button id="btn" class="btn btn-primary" type="submit" [disabled]="product.invalid" (click)=Submit()>Submt</button>
            
        </div>


</div>
        