<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngFor="let cmp of company">
  <a class="navbar-brand" href="#">{{cmp.name}}</a>

    <ul class="navbar-nav fixxed-top mr-auto">
      <li class="nav-item active">
        <a class="nav-link component" [routerLink]="'/products'"> View products</a> 
      </li>
      <li>
        <a class="nav-link component" [routerLink]="'/product/inventory'"> Add products</a> 
      </li>
      <li>
        <a class="nav-link component" [routerLink]="'/orders'">Orders</a> 
      </li>
      <li>
        
      </li>
    </ul>
    <div class="dropdown" style="float: right;">
      <img class="logo" src="{{cmp.logo}}">
      <div class="list">
        <div [routerLink]="['/routePath']" routerLinkActive="router-link-active" >Setings</div>
        <div>logout</div>
      </div>
    </div>
</nav>