
  <!--
  <div><label>Search Products: </label>
      <input type="text" id="searchKey" (keyup.enter)="search()">
      <button (click)="search()">Search</button>
  </div>
-->
<div>
  <label>From</label>
    <input id="fromDate" type="date" (change)="filter($event)"> &nbsp;
  <label>To</label>
    <input id="toDate" type="date" (change)="filter($event)">
</div>
<div class="productList" >
<table class="table table-striped table-hover" style="width: 99%; margin: auto;">
    <thead class="table-dark">
        <tr class="head">
        <th class="orderNO">Order No</th >
        <th>Coustome ID</th>
        <th>Order Amount</th>
        <th>Qty</th>
        <th>Date</th>
        <th>Coustomer</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Order Status </th>
        <th></th>
        <th></th>
        </tr>
</thead>
<tbody>
    <tr *ngFor="let i of oreders | paginate: config">
        <td >{{i.invno}}</td>
        <td >{{i.customerID}}</td>
        <td >{{i.totalAmound}}/-</td>
        <td >{{i.orderQty}}</td>
        <td >{{i.orderDate | date:'dd-MM-yyyy'}}</td>
        <td >{{i.c_FullName}}</td>
        <td >{{i.c_phone}}</td>
        <td >{{i.c_place}}, {{i.c_home}}, {{i.c_landmark}}, {{i.c_City}}, {{i.c_pin}}</td>
        <td >{{i.orderStatus}}</td>
        <td><button (click)=showOrder(orderDetails,i)>Details</button></td>
        <td><button (click)=placeOrder(plcOrder)>Place Order</button></td>
    </tr>
</tbody>  
</table>
</div>
<ng-template #orderDetails >
  <div class="modal-body">
      <div class="action_cancel" (click)="closemodel(orderDetails)">&times;</div><br>
      <div class="popup_head">Order Details</div>

      <div>
        <table class="table table-striped table-hover" style="width: 99%; margin: auto;">
          <thead class="table-dark">
              <tr class="head">
              <th>invno</th>
              <th>Product Id</th>
              <th>Product Name</th>
              <th>Qty</th>
              <th>Category</th>
              <th>Price</th>
              <th>Mrp</th>
              <th>Total</th >
              <th>Order Status </th>
              </tr>
      </thead>
      <tbody>
          <tr *ngFor="let inv of invoice | paginate: config">
              <td >{{inv.invno}}</td>
              <td >{{inv.pId}}</td>
              <td >{{inv.pName}}</td>
              <td >{{inv.qty}}</td>
              <td >{{inv.category}}</td>
              <td >{{inv.price}}</td>
              <td >{{inv.mrp}}</td>
              <td >{{inv.tprice}}</td>
              <td >{{inv.status}}</td>
          </tr>
      </tbody>  

        </table>
      </div>
  </div>
</ng-template>

<ng-template #plcOrder>
  <div class="modal-body">
      <div class="action_cancel" (click)="closemodel(plcOrder)">&times;</div><br>
      <p>Do you want to cancel this...?</p>
      <div class="p_name">cancelP_name}}</div>
  </div>
  <button class="action_ok" (click)="cnfrmPlaceOrder(plcOrder)">Place Order</button>
</ng-template>
