
<div *ngIf="loading" class="text-center" id="loading">
    <div class="spinner-border" role="status">
    </div>
  </div>
  <div><label>Search Products: </label>
      <input type="text" (keyup)="search($event)">

  </div>
<div class="productList" >
<table border="1">
    <tr>
        <th (click)="sort('barcode')">P ID &nbsp;<i class="fa fa-sort"></i></th >
        <th >Product</th>
        <th (click)="sort('name')">Name &nbsp;<i class="fa fa-sort"></i></th>
        <th>Category</th>
        <th>Sub Category</th>
        <th>Unit</th>
        <th>Stock</th>
        <th>cost</th>
        <th>Mrp</th>
        <th>Price</th>
        <th>wholeSale Rate</th>
        <th>Purchase Rate</th>
        <th>Tax</th>
    </tr>
    <tr *ngFor="let p of product | orderBy: key: reverse">
        <td class="container">{{p.barcode}}</td>
        <td class="container"><img class="pimage" src="{{p.kayImage}}" ></td>
        <td class="container">{{p.name}}</td>
        <td class="container">{{p.category}}</td>
        <td class="container">{{p.sub_Category}}</td>
        <td class="container">{{p.unit}}</td>
        <td class="container">{{p.current_Stock}}</td>
        <td class="container">{{p.cost}}</td>
        <td class="container">{{p.mrp}}</td>
        <td class="container">{{p.retail_Rate}}</td>
        <td class="container">{{p.whole_Rate}}</td>
        <td class="container"> {{p.purchase_Rate}} </td>
        <td class="container"> {{p.gst}} </td>

    </tr>
</table>


   <!-- <div class="product" *ngFor="let p of product">
        <div>{{p.pname}}<span class="edit">Edit</span></div>
        <div>{{p.productId}}</div>
        <div>{{p.pcategory}}</div>
        <div>mrp:{{p.mrp}}</div>
        <div>price: {{p.price}}</div>
    </div>-->
</div>