  #loading {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
    background-color: rgba(255, 255, 255, 0);
    z-index: 99;
  } 
  table{
    border: .2px solid rgb(87, 87, 87);
  }
 th{
   font-weight: 300;
   cursor: pointer;
 }
 td {
  border-left: .1px solid rgb(124, 124, 124);
  }
.table-striped>tbody>tr:nth-child(odd)>td{
   background-color: #e2ecff;
 }
 .table-striped>tbody>tr:nth-child(even)>td{
    background-color: #f2f7ff;
  }
  .table-dark>thead{
  position: fixed;
  top: 0px;
}
  
.product{
    background-color: white;
    margin: auto;
    margin-top: 15px;
    width: 90%;
    border-radius: 5px;
}
.pimage{
    width: 50px;
    height: 60px;
}
.container{
    margin-left: 5px;
    margin-right: 20px;
    width: max-content;
}

.custom-pagination .page-number{
  display: inline-block;
  /* padding: 5px 12px; */
  background: #ffffff;
  margin: 0px 5px;
  border-radius: 25px;
  border: 2px solid #99e2ff;
}

.page-number.current{
  background: #99e2ff!important;
}

.page-number span{
  display: block;
  width: 28px;
  height: 28px;
  font-size: 15px;
  cursor: pointer;
  margin: auto;
  text-align: center;
}

.pagination-previous,.pagination-next{
  display: inline-block;
  font-weight: bold;
}

.popup_head{
  display: flex;
  justify-content: center;
  font-size: large;
  font-weight: 500;
  color: midnightblue;
}
.action_cancel{
  float: right;
  color: black;
  font-size: 50px;
  cursor: pointer;
  font-weight: 100;
}
