<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="sidemenu"> 
    <div class="icon"> </div>
    
    
    <div class="component" [routerLink]="'/products'"> View products</div>    
    <div class="component" [routerLink]="'/addproducts'"> Add products</div> 
    <div class="component">inventory</div> 
    <div class="component">Button1</div> 
    <div class="component">button2</div> 


</div>