<div> Uplaod Adds</div>
<form class="imageUpload">
    <input class="upload" id="add1" type="file" (change)="SetImage($event)">
    <input class="upload" id="add2" type="file" (change)="SetImage($event)">
    <input class="upload" id="add3" type="file" (change)="SetImage($event)">
    <input class="upload" id="add4" type="file" (change)="SetImage($event)">
    <input class="upload" id="add5" type="file" (change)="SetImage($event)">
    <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
</form>